@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*grids*/

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 1920px;
  margin: 5%;
  text-align: center;
  align-items: center;
  color: #FEFEFE;
}

.inside {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 2%;
}

/*body*/

/*body*/

/*header & menu-navi */

.firstpage {
  display: flex;
  max-width: 1905px;
  height: 987px;
  z-index: -1;
  width: 100%;
  background-image: url("pics/header-bg.png");
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #F3F3F3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2em;
}

html {
  font-size: 100%;
}

/*hand-made header
		header {
			background-color:springgreen;
			background-image:url(../../pexels-photo-273222.jpeg);
			background-size:contain;
			background-repeat: no-repeat;
			background-blend-mode:screen;
			width: 1024px;
			height: 685px;
			z-index: -1;}
			*/

/*navi-options*/

}

.header ul {
  list-style-type: none;
}

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navi-placement {
  display: flex;
  margin: 2%;
  margin-top: 18px;
  overflow: hidden;
}

.headerq {
  display: flex;
  margin-top: 100px;
}

.navi {
  display: flex;
  background-color: #4B4343;
  border-radius: 25px 25px 0 0;
  position: relative;
  max-width: 1400;
  height: 125px;
  z-index: 0;
  width: 100%;
  justify-content: flex-end;
  padding-right: 5%;
}

}

.navi span {
  display: flex;
  justify-content: center;
}

.logo {
  display: block;
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 0;
}

.hide-menu {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.hide-menu>li {
  display: inline-flex;
  float: left;
  list-style-type: none;
}

.hide-menu li:last-of-type {
  margin-right: 0;
}

.hide-menu li a {
  display: inline-flex;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  font-weight: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  font-style: normal;
  border: 1px solid transparent;
}

/*navi-options*/

/* menu-animation */

.hide-menu a:hover {
  display: inline-flex;
  background-color: #4B4343;
  color: green;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid green;
  display: flex;
  transition: .3s;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 1rem;
  padding: 1em;
}

/* menu-animation */

/*header & menu-navi */

/* first quato */

.main-q {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  font-family: 'Raleway', sans-serif;
  font-size: 43px;
  font-weight: 300;
  line-height: 65px;
  color: #fff;
  text-align: center;
  align-items: center;
}

}

.gettouch {
  display: flex;
  justify-content: center;
}

#getouch {
  display: inline-flex;
  border: 2px solid #4B4343;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 16px;
  border-radius: 50px 50px 50px 50px;
  background-color: #4B4343;
  color: #50E37D;
  text-decoration: none;
}

/*
	#getouch{
		position: absolute;
		top:550px;
		left:390px;
		padding: 1em;
		margin: auto;
		display: block;
		font-size: 17px;
		border-radius: 50px 50px 50px 50px;
		background-color:#2D2D2D;
		color: green;
		text-decoration: none;

}*/

/*#getouch:hover{
	background-color:#2D2D2D;
    color: white;
    border-radius: 50px 50px 50px 50px;
  	padding: 1em;
  	margin: auto;
  	display: flex;
  	flow: row wrap;
  	justify-content: space-around;
	transition: .3s;
	position: absolute;
	top:550px;
	left:470px;
	display: block;
	font-size: 17px;}*/

.dots {
  display: flex;
  justify-content: center;
}

#dots {
  display: inline-flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.whatdo {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  clear: both;
  align-items: center;
  height: 670px;
  position: relative;
}

.whatdo h2 {
  display: flex;
  font-size: 45px;
  margin-top: 1vh;
  color: #50e38e;
  justify-content: center;
  line-height: 1.3em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.whatdo h3 {
  display: flex;
  font-size: 22px;
  font-style: normal;
  margin-top: 1vh;
  color: #161616;
  justify-content: center;
  line-height: 29em;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.whatdo span {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.2em;
  color: #161616;
  margin-top: 20px;
}

.whatdo p {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.2em;
  color: #161616;
  margin-top: 20px;
}

.servicepic {
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-direction: row;
}

.ux {
  max-width: 366px;
  width: 100%;
  overflow: hidden;
  margin: 1.5%;
  padding: 1.5%;
}

.ui {
  max-width: 366px;
  min-height: 300px;
  width: 100%;
  overflow: hidden;
  margin: 1.5%;
  padding: 1.5%;
}

.soft {
  max-width: 366px;
  min-height: 300px;
  width: 100%;
  overflow: hidden;
  margin: 1.5%;
  padding: 1.5%;
}

.servicepic h3 {
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  color: #161616;
}

.servicepic p {
  font-size: 20px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.3em;
  color: #2f3744;
  margin-top: 20px;
}

/*fist what-do code
.servicepic{
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  position:relative;
  flex-direction: row;
}
.servicep{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  align-items: center;
  padding-top: 25px;
  flex: 1;
}
.head1 {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
}
.head2{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.head3 {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
}
.servicep p{
  padding-top: 15px;
}
REVIEW:  */

.works {
  display: flex;
  text-align: center;
  position: relative;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.works h2 {
  display: flex;
  font-size: 45px;
  margin-top: 1vh;
  color: #50e38e;
  justify-content: center;
  line-height: 1.3em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.works span {
  font-size: 30px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.2em;
  color: #161616;
  margin-top: 20px;
}

.clients {
  display: flex;
  text-align: center;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 500;
  align-items: center;
}

.clients h2 {
  display: flex;
  font-size: 45px;
  margin-top: 1vh;
  color: #50e38e;
  justify-content: center;
  line-height: 1.3em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.clients span {
  font-size: 30px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.2em;
  color: #161616;
  margin-top: 20px;
}

.us {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.us h2 {
  display: flex;
  font-size: 45px;
  margin-top: 1vh;
  color: #50e38e;
  justify-content: center;
  line-height: 1.3em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.us span {
  font-size: 30px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.2em;
  color: #161616;
  margin-top: 20px;
}

.us p {
  font-size: 25px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.2em;
  color: #161616;
  margin-top: 20px;
}

.photos {
  display: flex;
  max-width: 1100px;
  min-height: 200px;
  height: 100%;
  width: 100%;
  border: 5px solid red;
}

/*
.uspic{
display: flex;
flex-direction: row;
clear: both;
overflow: hidden;
border: 1px solid red;
flex-wrap: wrap;
}*/

/*
.segment1{
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid red;

}*/

.photo1 {
  display: flex;
  align-content: left;
  max-width: 520px;
  max-height: 550px;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  clear: both;
  margin left: 2%;
  margin-right: 1%;
}

.segment2 {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid red;
}

.photo2 {
  display: flex;
  max-width: 520px;
  width: 100%;
  max-height: 250px;
  margin left: 1%;
  margin-right: 1%;
  min-height: 200px;
  overflow: hidden;
  clear: both;
  flex-wrap: wrap;
}

.photo3 {
  display: flex;
  max-width: 520px;
  width: 100%;
  max-height: 250px;
  margin left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  clear: both;
  overflow: hidden;
  min-height: 200px;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  height: 100%;
}

.contact h2 {
  display: flex;
  font-size: 42px;
  margin-top: 1vh;
  color: #50e38e;
  justify-content: center;
  line-height: 50px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.contact span {
  font-size: 30px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 36px;
  color: #161616;
  margin-top: 20px;
}

.formmy {
  display: flex;
  max-width: 1100px;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.firstrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  align-items: left;
  text-align: left;
  position: relative;
}

.secondrow {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.gettouch2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
}

input, select, textarea, label {
  font-family: inherit;
  font-size: 100%;
  font-family: "Raleway", sans-serif;
}

form label {
  margin: 0px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #606c72;
  line-height: 27px;
}

form input {
  max-width: 300px;
  width: 100%;
  height: 40px;
  margin: 10px 10px 10px 5px;
  border-style: none;
}

form label::selection {}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid springgreen;
}

.down {
  display: flex;
  position: relative;
  background-color: #4B4343;
  border-radius: 0px 0px 25px 25px;
  max-width: 1400px;
  height: 125px;
  width: 100%;
  z-index: -1;
  margin-left: 2.5%;
  justify-content: center;
  border: 1px solid red;
}

.social {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  text-align: left;
  align-items: left;
  justify-content: space-between;
}

}

.socialp {
  display: flex;
  float: left;
  color: white;
  align-content: flex-end;
  border: 1px solid red;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width:64em) {}

@media only screen and (min-width:40em) {}
